.wrapper {
    padding-top: 10px;
    margin: 20px;
  
}

.link {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.77);
    font-size: 20px
}

.li {
    margin: 20px;
    cursor: pointer;
    letter-spacing: 1px;
}

.select {
    font-size: larger;
    text-decoration: underline;
}

.carInfo {
  display:inline-flexbox;
    
}

.car {

 top:10px;

}