.wrapper {
    height: 575px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title {
    margin-bottom: 15px;
    text-align: center;
    font-size: 40px;
    font-family: fantasy;
    color: rgba(33, 32, 32, 0.856);
    letter-spacing: 1px;
}