.wrapper {
    height: 575px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.nameSearch{
    display: flex;
    justify-content: right;
    align-items: center;    
    margin-right: 100px;
    margin-bottom: 15px;
    padding: 0;
}

.title {
    margin-right: 220px;
    text-align: center;
    font-size: 40px;
    font-family: fantasy;
    color: rgba(33, 32, 32, 0.856);
    letter-spacing: 1px;
}