.error {
    display: flex;
    color: #f3000099;
    justify-content: center;
    height: 250px;
    align-items: center;
    text-decoration: underline;
    font-size: 30px;
    cursor: pointer;
    width:600px;
}